.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flash-text {
    color: red;
    animation: flash 1s infinite;
}

.my-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Màu sắc mặc định */
.my-button-default {
    background-color: #3498db;
    color: #fff;
}

/* Hiệu ứng hover */
.my-button-default:hover {
    background-color: #2980b9;
}